/* Global styles */
body {
    font-family: 'Courier New', Courier, monospace;
}

h1,
h3 {
    color: cornflowerblue;
    text-align: center;
}

h3 {
    margin-top: 10px;
    font-weight: lighter;
}

/* Form styles */
form {
    max-width: 600px;
    padding: 20px 40px 20px 20px;
    border-radius: 10px;
    background-color: aliceblue;
    font-weight: bold;
    font-size: large;
    color: darkslateblue;
    /* Center the form */
    margin: auto;
}

div {
    margin-bottom: 30px;
    margin-left: -40px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

div.containerOfThree {
    grid-template-columns: 2fr 1fr 1fr;
}
div.containerFist {
    margin-top: 15px;
}
div.containerLast {
    margin-bottom: 25px;
}

label {
    display: block;
    font-size: larger;
    white-space:nowrap;
    text-align: right;
    margin-right: 50px;
}

input,
output {
    width: 96%;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: x-large;
}

input[type="text"]::placeholder {
    color: goldenrod;
    opacity: 40%;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
}

input[type="range"]::-webkit-slider-runnable-track {
    border-radius: 5px;
    background: cornflowerblue;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 20px;
    border-radius: 5px;
    background-color: gold;
    cursor: pointer;
    margin-top: -5px;
}

#tipPercentage {
    display: block;
    margin: auto;
    border: none;
    margin-top: -20px;
    margin-bottom: -25px;
    text-align: center;
    font-weight: lighter;
}

input[disabled] {
    background-color: floralwhite;
    color: #666;
    /* Remove border to mimic a label */
    border: none;
}

/* Responsive layout */
@media (max-width: 600px) {
    body {
        margin: 0;
    }

    form {
        text-align: center;
        padding: 15px;
    }

    div {
        display: block;
        margin: 30px auto;
    }

    label {
        white-space:wrap;
        text-align: center;
        margin-right: 0;
    }

    input,
    output {
        margin-top: 5px;
        padding: 15px;
        text-align: center;
        width: 80%;
    }
}