/* Global styles */
body {
    margin: auto;
    font-family:'Courier New', Courier, monospace;
    background-color:;
}

h1,h3 {
    color:cornflowerblue;
    text-align: center;
}

h3 {
    margin-top: 10px;
    font-weight: lighter;
}

/* Form styles */
form {
    padding: 20px;
    border-radius: 10px;
    background-color:aliceblue;
    max-width: 400px;
    margin: 0 auto; /* Center the form */
    font-weight: bold;
    color:darkslateblue;
}

label {
    display: block;
    margin-top: 10px;
}

input[type="text"],
input[type="range"],
output {
    width: 96%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
}

#tipPercentage {
    display: block;
    margin: auto;
    border: none;
    margin-top: -20px;
    margin-bottom: -25px;
    text-align: center;
    font-weight: lighter;
}

input[disabled] {
    background-color:floralwhite;
    color: #666;
    border: none; /* Remove border to mimic a label */
}

input[type="text"]::placeholder{
    color:goldenrod;
    opacity: 60%;
}

/* Responsive layout */
@media (max-width: 400px) {
    form, body {
        background-color: #333;
        border: none;
        color: #f2f2f2;
        width: 84%;
    }

    form {
        text-align: center;
        padding: 10px;
    }

    h1,h3{
        color:cornsilk;
    }

    input[type="text"],
    input[type="range"],
    output {
        margin-top: 1px;
        padding: 10px;
        text-align: center;
    }
}
